body {
	font-family: 'Roboto Slab', serif;
	margin:0 0 0 0 ;
	background-color: #012632;
}
.page{
}
form {
	border-radius:2%;
	display:inline;
	position:absolute;
	background-color:#1f8bad;
	padding: 50px 30px 50px 30px;
	margin: 50px 0 80px 50px;
}
table {
	float:left;
	margin: 50px 0 0 320px;
}
table tr{
	background-color:lightblue;
}
.content {
	position:absolute;
	width:77%;
	margin: 0 0 0 320px;
}
.float {
	display:inline;
	border-radius:2%;
	background-color:#1f8bad;
	position:relative;
	float:left;
	padding:30px;
	margin:10px;
}
.content button{
	margin-left: 70px;
}
ul{
	margin:30px 30px 30px 0px;
	list-style: none;
}
li{
	margin-right:30px;
}
input{
	display:block;
	padding:5px 30px 5px 30px;
}
.red{
	color: red;
}
.orange{
	color: orange;
}
.yellow{
	color: yellow;
}
.blue{
	color: blue;
}
.green{
	color: green;
}